@model RC.Models.Incidente

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p></p>
    <fieldset>
        
        <legend>Adicionar novo incidente.</legend>
        <div class="row">
            <div class="col-md-4">

                <div>
                    @Html.HiddenFor(x => x.Lat)
                    @Html.HiddenFor(x => x.Lng)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Descricao)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Descricao)
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IdCategoria, "Categoria")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("IdCategoria", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdCategoria)
                </div>
                <br />
                <div>
                    <input type="submit" value="Salvar" class="btn btn-primary"/>
                </div>
            </div>
            <div class="col-md-8">
                <div id="map_canvas" class="col-md-12" style="height: 500px;"></div>
            </div>
        </div>

    </fieldset>
}

<script>
</script>